<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>105. Anonymous Chat (feat) 동빈나</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- servlet 을 맵핑 하는 과정 -->
	<servlet>
		<servlet-name>ChatSubmitServlet</servlet-name>
		<servlet-class>chat.ChatSubmitServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChatSubmitServlet</servlet-name>
		<!-- 실제로 url 을 맵핑해주는 곳 -->
		<!-- 대소문자가 중요 C를 대문자로 썻다가 서버와 연결이 안됨 현상 발생이 계속 됨. -->
		<url-pattern>/chatSubmitServlet</url-pattern>
	</servlet-mapping>

	<!-- servlet 을 맵핑 하는 과정 -->
	<servlet>
		<servlet-name>ChatListServlet</servlet-name>
		<servlet-class>chat.ChatListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChatListServlet</servlet-name>
		<url-pattern>/chatListServlet</url-pattern>
	</servlet-mapping>

</web-app>