@charset "UTF-8";

/* 네비게이션 영역 */
.navbar-default { /* 네비게이션 바 배경색상 */
	background-color: #006DCC;
	border-color: #006DCC;
	border-bottom-color: #dddddd;
	border-bottom-width: 3px;
	border-radius: 0;
}

.navbar-default .navbar-brand { /* 네비게이션 제목 색상 */
	color: #fcfcfc;
	padding-top: 25px;
	font-family: 'Hanna' -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	/* -apple-system 이란 구글 폰트가 없을시 설정된 앞에 font 가 없으면 차례로 다음 font를 쓴다고 합니다.*/
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{ /* 네비게이션 제목에 마우스를 올렸을때 */
	color: #dddddd;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	/* 선택된 네비게이션 마우스 색상 이벤트 */
	color: #fcfcfc;
	background-color: #1456b8;
}

.navbar-default .navbar-nav>li>a { /* 네비게이션 기본 폰트 변경 */
	font-family: 'Noto Sans KR' -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	/* -apple-system 이란 구글 폰트가 없을시 설정된 앞에 font 가 없으면 차례로 다음 font를 쓴다고 합니다.*/
	color: #fcfcfc;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{ /* 네비게이션 글자에 마우스를 올렸을때 */
	color: #dddddd;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus { /* 열린 드랍다운 마우스 색상 이벤트 */
	color: #006DCC;
	text-decoration: none;
	background-color: #fcfcfc;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{ /* 토글에 마우스를 올렸을때 */
	background-color: #1456B8;
}

.navbar-default .navbar-toggle .icon-bar { /* 토글 아이콘바 색상 */
	background-color: #dddddd;
}

/* 네비게이션 바 길이 수정 */
.navbar-fixed-top {
	min-height: 70px;
}

.navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 70px;
}