@charset "UTF-8";

/* 테이블 관련 디자인 처리 */
thead th {
	background-color: #006DCC;
	color: #fcfcfc;
	text-align: center;
}

tr th:first-child, tr td:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

tr th:last-child, tr td:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}