<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>216. UserChat oracle ver</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>
	
	-->

	<!-- 회원가입 -->
	<servlet>
		<servlet-name>MemberRegisterServlet</servlet-name>
		<servlet-class>member.MemberRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberRegisterServlet</servlet-name>
		<url-pattern>/memberRegister</url-pattern>
	</servlet-mapping>

	<!-- 아이디 중복 확인 -->
	<servlet>
		<servlet-name>MemberRegisterCheckServlet</servlet-name>
		<servlet-class>member.MemberRegisterCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberRegisterCheckServlet</servlet-name>
		<url-pattern>/memberRegisterCheck</url-pattern>
	</servlet-mapping>

	<!-- 채팅 전송(submit) -->
	<servlet>
		<servlet-name>ChatSubmitServlet</servlet-name>
		<servlet-class>chat.ChatSubmitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatSubmitServlet</servlet-name>
		<url-pattern>/chatSubmit</url-pattern>
	</servlet-mapping>

	<!-- 로그인 기능 -->
	<servlet>
		<servlet-name>MemberLoginServlet</servlet-name>
		<servlet-class>member.MemberLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberLoginServlet</servlet-name>
		<url-pattern>/memberLogin</url-pattern>
	</servlet-mapping>

	<!-- 채팅목록 불러오는 서블릿 -->
	<servlet>
		<servlet-name>ChatListServlet</servlet-name>
		<servlet-class>chat.ChatListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatListServlet</servlet-name>
		<url-pattern>/chatList</url-pattern>
	</servlet-mapping>

	<!-- 읽지않은 메시지 setvlet -->
	<servlet>
		<servlet-name>ChatUnreadServlet</servlet-name>
		<servlet-class>chat.ChatUnreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatUnreadServlet</servlet-name>
		<url-pattern>/chatUnread</url-pattern>
	</servlet-mapping>

	<!-- 메시지함 view 구성을 위한 메시지 반환 서블릿 -->
	<servlet>
		<servlet-name>ChatBoxServlet</servlet-name>
		<servlet-class>chat.ChatBoxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatBoxServlet</servlet-name>
		<url-pattern>/chatBox</url-pattern>
	</servlet-mapping>

	<!-- 회원정보 수정 servlet -->
	<servlet>
		<servlet-name>MemberUpdateServlet</servlet-name>
		<servlet-class>member.MemberUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberUpdateServlet</servlet-name>
		<url-pattern>/memberUpdate</url-pattern>
	</servlet-mapping>

	<!-- 파일 업로드 servlet -->
	<servlet>
		<servlet-name>MemberProfileServlet</servlet-name>
		<servlet-class>member.MemberProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberProfileServlet</servlet-name>
		<url-pattern>/memberProfile</url-pattern>
	</servlet-mapping>

	<!-- find 시 유저 프로필 사진을 가져오기 위한 servlet -->
	<!-- ajax 통신으로 대체 하기 때문에 굳이 xml 에서 정의할 필요가 없습니다. -->
	<!-- 
	<servlet>
		<servlet-name>MemberFindServlet</servlet-name>
		<servlet-class>member.MemberFindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberFindServlet</servlet-name>
		<url-pattern>/memberFind</url-pattern>
	</servlet-mapping>
	-->

	<!-- 게시판 글쓰기 servlet -->
	<servlet>
		<servlet-name>BoardWriteServlet</servlet-name>
		<servlet-class>board.BoardWriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardWriteServlet</servlet-name>
		<url-pattern>/boardWrite</url-pattern>
	</servlet-mapping>

	<!-- 게시판 글 수정 servlet -->
	<servlet>
		<servlet-name>BoardUpdateServlet</servlet-name>
		<servlet-class>board.BoardUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardUpdateServlet</servlet-name>
		<url-pattern>/boardUpdate</url-pattern>
	</servlet-mapping>

	<!-- 게시판 글 삭제 servlet -->
	<servlet>
		<servlet-name>BoardDeleteServlet</servlet-name>
		<servlet-class>board.BoardDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardDeleteServlet</servlet-name>
		<url-pattern>/boardDelete</url-pattern>
	</servlet-mapping>

	<!-- 게시글 답변 작성 servlet -->
	<servlet>
		<servlet-name>BoardReplyServlet</servlet-name>
		<servlet-class>board.BoardReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardReplyServlet</servlet-name>
		<url-pattern>/boardReply</url-pattern>
	</servlet-mapping>
	
</web-app>