<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thymeleaf</title>
</head>
<body>
<h1>thymeleaf 템플릿 엔진</h1>
<ul>
    <li><a href="https://www.thymeleaf.org/">thymeleaf 공식 사이트</a></li>
    <li><a href="https://spring.io/guides/gs/serving-web-content/">스프링 공식 튜토리얼</a></li>
    <li><a href="https://docs.spring.io/spring-boot/docs/2.3.1.RELEASE/reference/">스프링부트 메뉴얼</a></li>
    <li><a href="html/spring-boot-features.html#boot-features-spring-mvc-template-engines">html/spring-boot-features.html#boot-features-spring-mvc-template-engines</a>
    </li>
</ul>
</body>
</html>