<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">
    <meta name="_csrf_token" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>로그아웃</title>
</head>
<body>
<h1>Custom Logout Page</h1>

<form method='post' th:action="@{/customLogout}">
    <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }"/>
    <input type='submit' value='로그아웃'><br>
</form>
<script type="text/javascript">
    const parameter = document.querySelector('meta[name=_csrf_parameter]').getAttribute("content");
    const token = document.querySelector('meta[name=_csrf_token]').getAttribute("content");
    const header = document.querySelector('meta[name=_csrf_header]').getAttribute("content");

    console.log(`parameter: `, parameter);
    console.log(`token: `, token);
    console.log(`header: `, header);
</script>
</body>
</html>
