<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--
templates 폴더 안에 있는 파일들은 정적인 파일(변하지 않는)이 아닌,
동적 파일입니다.
먼저 controller 에서 mapping 을 검색후,
해당 맵핑 메소드를 찾아 실행후, 작업 처리를 한뒤,
해당 페이지로 넘오오게 되는데 이때, 넘겨 받을 데이터가 있으면
thymeleaf 엔진을 통해 해당 부분에 데이터 전달후,!!!
그때 서야 html 로 변환되어, 해당 html 파일이 load 됩니다.

결론: templates 폴더에 있는 html 은 동적 파일임을 선언 한 것과 같고,
        이는 controller 가 없으면 작동하지않습니다.
        해당 디렉토리 내의 static.html 을 참고
 -->
<body>
    templates 폴더 안에 있는 정적 파일입니다.<br />
    정적파일이 templates 폴더 내에서 controller 없이 작동 할 수 있을까요?<br />
</body>
</html>