<?xml version="1.0" encoding="UTF-8" ?>
<!-- 서버와 관련된 환경설정을 하는 xml 파일입니다. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>110. UserChat_실시간 회원제 채팅 (feat) 동빈나</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 사용자가 UserRegisterServlet에 접근 할때, /userRegister 곳에 어떠한 post 메시지를 보냄으로서,
	실제로 사용자 정보를 등록 할 수 있게 됩니다.
	 -->
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>user.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<!-- url-pattern 은 join.jsp 의 form의 action 주소와 같습니다. -->
		<url-pattern>/userRegister</url-pattern>
	</servlet-mapping>

</web-app>